$white: #ffffff;
$black: #000000;
// $primary1: #004e9a;
// $primary2: #428cd4;
$primary1: #3a3f58;
$primary2: #e45441;
$bgColor:#041b2d;

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin secondary-font {
  font-family: "octin sports", sans-serif;
}

